/* Empty. Add your own CSS if you like */
body, html{
	background: #313131;
	height: 100%;
}
.donate{
	background: #98cb00;
	border-radius: 50%;
	width: 70%;
	height:50%;
	margin: 0 auto;
}

.paypal{
	display: none;
}

#circle, .lable {
	cursor: pointer;
}

.pulse {
	-webkit-animation: pulse 2s linear infinite;
	-moz-animation: pulse 2s linear infinite;
	-ms-animation: pulse 2s linear infinite;
	animation: pulse 2s linear infinite;
}

@keyframes "pulse" {
 0% {
    fill: rgb(152, 203, 0);
 }
 50% {
    fill: rgba(152, 203, 0,0.5);
 }
 100% {
    fill: rgba(152, 203, 0);
 }

}

@-moz-keyframes pulse {
 0% {
    fill: rgb(152, 203, 0);
 }
 50% {
    fill: rgba(152, 203, 0,0.5);
 }
 100% {
    fill: rgba(152, 203, 0);
 }

}

@-webkit-keyframes "pulse" {
 0% {
    fill: rgb(152, 203, 0);
 }
 50% {
    fill: rgba(152, 203, 0,0.5);
 }
 100% {
    fill: rgba(152, 203, 0);
 }

}

@-ms-keyframes "pulse" {
 0% {
    fill: rgb(152, 203, 0);
 }
 50% {
    fill: rgba(152, 203, 0,0.5);
 }
 100% {
    fill: rgba(152, 203, 0);
 }
}
