/* Empty. Add your own CSS if you like */
body, html{
	background: #313131;
	height: 100%;
}
.donate{
	background: #98cb00;
	border-radius: 50%;
	width: 70%;
	height:50%;
	margin: 0 auto;
}

.paypal{
	display: none;
}
